:root{
    --vermelho-principal: #FF0000;
    --branco-secundário: #F9F9F9;
    --cor-de-fundo: #00030C;
    --botao-vermelho: #B90000;
    --botao-transparente: #F9F9F9;
    --fonte-primária:'Tagesschrift';
}

body{ 
    background-color: var(--cor-de-fundo);
    color: var(--vermelho-principal);
    font-family:var(--fonte-primária);
    font-size: 16px;
}

.principal {
    background-image: url(img/image\ 9\ \(1\).png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 3.5em;
    text-align: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    }

    .container__botao{
        background-color: var(--botao-vermelho);
        border-radius: 8px;
        padding: 1em;
        color: var(--branco-secundário);
        display: block;
        text-decoration: none;
    
    }

    .botao__secundario{
        background-color: transparent;
        border: 2px solid var(--botao-transparente);
        margin: 1em 0 0 0;
    }

    .container__titulo{
        font-size: 28px;
        font-weight: 700;

    }

    .container__imagem{
        margin: 2em 10 10px 20;
    }
